* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  font-family: verdana, sans-serif;
  font-size: 18px;
  color: white;
}

h1 {
  margin: 20px 0 40px;
}

ul {
  list-style: none;
  padding: 10px 0;
}

ul li {
  padding: 15px;
  margin: 5px 0;
  background-color: #111;
  color: white;
}

ul li:hover {
  text-decoration: line-through;
  cursor: pointer;
}

form {
  overflow: hidden;
}

input, button {
  width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #202020 inset;
}

/* Layout styles */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: -15px;
}

[class*="width-"] {
  float: left;
  padding: 15px;
}

.width-desktop-25 {
  width: 25%;
}

.width-desktop-75 {
  width: 75%;
}

.addItemInput {
  margin: 0;
  padding: 5px 10px 4px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  font-size: 18px;
  line-height: 26px;
}

.addItemSubmitButton {
  margin: 0;
  background-color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  line-height: 26px;
}

/* Responsive styles */

@media (max-width: 786px) {
  .width-mobile {
    width: 100%;
  }
}
